OTLP_METRICS_URL=https://prometheus-prod-xx.grafana.net/api/prom/push
OTLP_LOGS_URL=https://logs-prod-xxx.grafana.net/loki/api/v1/push
OTLP_TRACES_URL=tempo-prod-xx.grafana.net:443
GRAFANA_PASSWORD=your-grafana-cloud-token